:host {
    font-family: sans-serif;
    border: 2px solid #4caf50;
    margin: 2rem;
    padding: 1rem;
    display: block;
    width: 20rem;
    max-width: 100%;
}

:host(.error) {
    border-color: red;
}

form input {
    font: inherit;
    color: #4caf50;
    padding: 0.15rem 0.25rem;
    display: block;
    margin: 0.5rem 0;
}

form input:focus,
form button:focus {
    outline: none;
}

form button {
    font: inherit;
    padding: 0.25rem 0.5rem;
    border: 1px solid #4caf50;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

form button:hover,
form button:active {
    background-color: white;
    color: #4caf50;
}


form button:disabled {
    background-color: #ccc;
    background: #ccc;
    color: white;
    cursor: not-allowed;
}