:host {
    font-family: sans-serif;
    border: 2px solid var(--color-primary, black);
    margin: 2rem;
    padding: 1rem;
    display: block;
    width: 20rem;
    max-width: 100%;
}

:host(.error) {
    border-color: var(--color-error, red);
    box-shadow: 5px 10px 18px var(--color-error, red);
}

form input {
    font: inherit;
    color: var(--color-primary, black);
    padding: 0.15rem 0.25rem;
    display: block;
    margin: 0.5rem 0;
}

form input:focus,
form button:focus {
    outline: none;
}

form button {
    font: inherit;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color-primary, black);
    background-color: var(--color-primary, black);
    color: var(--color-primary-text,white);
    cursor: pointer;
}

form button:hover,
form button:active {
    background-color: white;
    color: var(--color-primary, black);
}


form button:disabled {
    background-color: #ccc;
    background: #ccc;
    color: white;
    cursor: not-allowed;
}